# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# ABIs
abis/

# Docs
docs/

# Dotenv file
.env

# Dependencies
/node_modules/
/.idea/
/.vscode/

# Foundry default broadcasting
/broadcast/

# Development tool files
*.swp
/local/
data/*
!data/.gitkeep
**/venv/
**/.venv/
*.log
export
*.pyc 
