# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Dependencies
/.venv/
/node_modules/
/.idea/
/.vscode/

# Foundry default broadcasting
/broadcast/

# Development tool files
*.swp
find.sh
