name: Solidity based workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format-lint:
    name: Format and lint
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
    steps:
      - uses: step-security/harden-runner@v2
        with:
          disable-sudo: true
          egress-policy: audit
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/install-deps

      - name: Formatting check Solidity
        id: formatter-check-solidity
        run: npx prettier --check --plugin=prettier-plugin-solidity '{src,script,test}/**/*.sol'

      - name: Linting Solidity
        run: npx solhint '{src,script,test}/**/*.sol'

  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@v2
        with:
          disable-sudo: false
          egress-policy: audit
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/install-deps

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes

      - name: Run Forge tests
        run: forge test -vvv
      
      - name: Run snapshot
        run: forge snapshot --check

      - name: Run forge coverage
        run: NO_COLOR=1 forge coverage --ir-minimum --report summary >> $GITHUB_STEP_SUMMARY
        
  docker-build:
    name: Build Docker images
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@v2
        with:
          disable-sudo: false
          egress-policy: audit
      
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: buildx

      - name: Check docker config and disable live reload
        run: |
          cat /etc/docker/daemon.json
          echo '{ "live-restore": false }' | sudo tee /etc/docker/daemon.json
          sudo systemctl reload docker
          make check-swarm-init

      - name: Build and load
        run: |
          docker buildx bake \
            --set "*.cache-from=type=gha" \
            --set "*.cache-to=type=gha,mode=max" \
            --set "*.platform=linux/amd64" \
            --builder ${{ steps.buildx.outputs.name }} \
            -f docker-compose.yml \
            --load

      - name: Test
        timeout-minutes: 5
        run: |
          make docker
          echo "Waiting for the containers to become healthy..."
          
          # Loop until all containers are healthy
          while docker ps --filter "health!=healthy" --filter "ancestor=$(docker compose config --services | xargs -I{} docker compose images -q {})" | grep -q .; do
              echo "Some containers are not healthy yet, waiting..."
              sleep 5
          done
          
          echo "All containers are healthy"
          make docker-remove
  
  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: step-security/harden-runner@v2
        with:
          disable-sudo: false
          egress-policy: audit
      
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Analyze using Slither
        uses: crytic/slither-action@v0.4.0
        id: slither
        with:
          sarif: results.sarif
          node-version: '20.10'
          fail-on: none
          slither-args: --checklist --markdown-root ${{ github.server_url }}/${{ github.repository }}/blob/${{ github.sha }}/

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}

  mythril:
    name: Mythril analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      pull-requests: write
    steps:
      - uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          disable-sudo: false
          egress-policy: audit
      
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: buildx

      - name: Run Mythril
        id: mythril
        run: |
          make analyze-mythril | tee mythril.log
          echo "mythril<<EOF" >> $GITHUB_OUTPUT
          echo "$(cat mythril.log)" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload Mythril log
        uses: actions/upload-artifact@v4
        with:
          name: mythril-log
          path: mythril.log

      - name: Post comment
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Mythril analysis results:
            ```
            ${{ steps.mythril.outputs.mythril }}
            ```
          comment_tag: mythril
